@import '../../styles/common.scss';

.article-topic{        
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 0px 12px;

    .author {
        margin-right: auto;
    }

    &-button {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: var(--svg-logo-color);

        @include screen(){
            width: 18px;
            height: 18px;
        }

        svg {
            flex-basis: 100%;
            @include use-transition();
            
            *[fill] {
                fill: currentColor;
            }

            *[stroke] {
                stroke: currentColor;
            }
        }
    }
    
    &-date{
        color: var(--article-date-color);
        display: block;

        @include screen(){
            font-size: 12px;
        }
    }
}