@import '../../styles/common.scss';

.article_topic{        
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 0px 12px;

    .author {
        margin-right: auto;
    }

    &_button {
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
        color: var(--article-topic-button-color);
        cursor: pointer;

        @include screen(){
            width: 18px;
            height: 18px;
        }

        svg {
            height: 100%;
            width: auto;
            flex-basis: 100%;
            @include use-transition();
            
            *[fill] {
                fill: currentColor;
            }

            *[stroke] {
                stroke: currentColor;
            }
        }
    }
    
    &_button:hover{
        color: var(--article-topic-button-hover-color)
    }

    &_date{
        color: var(--article-date-color);
        display: block;

        @include screen(){
            display: none;
        }
    }
}