@import '../../styles/helpers.scss';


.header_profile_avatar {
    border-radius: 50%;
    overflow: hidden;
    height: 32px;
    width: 32px;

    @include screen() {
        height: 24px;
        width: 24px;
    }
}