.form_input{
    .drop_file{
        border-radius: 50%;
        width: 150px;
        height: 150px;
        margin-bottom: 50px;
    }

    .form_input_description{
        margin-bottom: 20px;
    }
}