@import '../../styles/common.scss';

.form_input{
    .drop_file{
        border-radius: 50%;
        width: 150px;
        height: 150px;
        margin-bottom: 10px;

        @include screen() {
            width: 120px;
            height: 120px;
        }

        .remove_image {
            position: absolute;
            display: flex;
            justify-content: space-between;
            align-items: center;
            bottom: 5px;
            background-color: var(--sticky-button-background-color);
            border: 1px solid var(--line-color);
            
            p {
                display: none;
            }

            .remove_image_button {
                cursor: pointer;
                padding: 6px 8px;
    
                svg{
                    color: red;
                    height: 12px;
                    width: 12px;
                    
                    @include screen() {
                        color: red;
                        height: 16px;
                        width: 16px;
                    }
                }
            }
        }
    }

    .image_input {
        border-radius: 50%;
    }

    .form_input_description{
        margin-bottom: 20px;
    }
}