footer p {
    color: white;
}

footer {
    z-index: 2;
    bottom: 0;
    width: 100%; 
    background-color: rgba(0,0,0, .8);
    position: relative;
}

.footer-content {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 60px; 
  }
