@import "../../styles/helpers.scss";

.profile{
    &_info {
        display: flex;
        align-items: center;
        width: 100%;
        overflow: visible;

        &_avatar {
            width: 150px;
            height: 150px;
            overflow: hidden;
            border-radius: 50%;
            flex-shrink: 0;
            
            @include screen() {
                width: 45px;
                height: 45px;
                margin-bottom: auto;
            }
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        
        
        &_data {
            display: flex;
            margin-bottom: auto;
            margin-left: 50px;
            width: 100%;
            flex-direction: column;
            
            @include screen() {
                font-size: 10px;
                margin-left: 10px;
            }

            &_main{
                display: flex;
                margin-bottom: auto;
                
                @include screen() {
                    flex-direction: column;
                }

                &_quit_button {
                    color: red;
                    margin-right: 0;
                    margin-bottom: auto;
                    margin-left: 20px;
                    border: 1px solid red;
                    padding: 12px 30px;
                    border-radius: 8px;
                    user-select: none;
                    cursor: pointer;
        
                    @include screen {
                        padding: 8px 11px;
                        font-size: 12px;
                    }
        
                }
        
                &_quit_button:hover {
                    background-color: red;
        
                    color: white;
                }
                
                &_administrator {
                    display: none;
                    
                    @include screen() {
                        font-size: 10px;
                    }
                }
        
                &_administrator_true{
                    display: block;
                    text-shadow: 0 0 16px #9f0000;
                    color: red;
                }

                &_nick_name{
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    &_verified{
                        width: 28px;
                        height: 28px;

                        @include screen() {
                            width: 18px;
                            height: 18px;
                        }
                    }

                    &_name  {
                        font-size: 34px;
                        
                        @include screen(){
                            font-size: 20px;
                        }
                    }
                }
            }

            &_registration_date {
                margin-left: auto;
                margin-bottom: auto;
                height: 41px;
                align-content: center;

                @include screen() {
                    margin: 5px 0;
                    height: auto;
                }
                
                p{
                    color: var(--small-text-color);
                    
                    @include screen(){
                        font-size: 10px;
                    }
                }
            }

            &_description{
                width: 100%;
                margin-top: 12px;
                white-space: normal;
                overflow-wrap: break-word;
                word-break: break-word;
                
                @include screen() {
                    margin-top: 0;
                }
            }
        }

    }

    &_tab_list {
        display: flex;
        justify-content: center;
        border-top: 1px solid var(--line-color);
        margin: 50px 0 0;
        padding: 10px 0;

        @include screen() {
            margin-top: 20px;
        }

        p {
            color: var(--small-text-color);

            @include screen() {
                font-size: 14px;
            }
        }

        *{
            cursor: pointer;
        }

        &_active{
            p {
                font-weight: bold;
                color: var(--text-color)
            }
        }
    }
    
    .profile_tab_list > div {
        flex: 1;
        display: flex;
        justify-content: center;
    }
}