@import "../../styles/helpers.scss";

input:focus {
    outline: none;
}

.form_input{
    display: flex;
    flex-direction: column;

    @include screen() {
        height: 40vh;
        padding-top: 100px;
    }

    .redirect_object {
        margin: 10px;
        text-align: center;
        font-size: 14px;

        a {
            text-decoration: underline;
        }
    }

    .user_name {
        margin-bottom: 20px;
    }

    button {
        padding: 12px 14px;
        width: 300px;
        margin: 200px auto 0;
        font-size: 14px;

        @include screen() {
            margin-bottom: 20px;
            margin-top: auto;
            padding: 18px 14px;
        }
    }

    .result_message {
        display: none;
    }

    .error_message {
        display: flex;
        color: red;
        margin: 10px auto;
        font-size: 12px;
    }
}