@import "../../styles/helpers.scss";

input:focus {
    outline: none;
}

.form_input{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    margin-left: auto;
    margin-right: auto;

    @include screen() {
        padding-top: 100px;
    }

    .redirect_object {
        display: flex;
        color: var(--small-text-color);
        
        font-size: 14px;
        margin-top: 20px;
        
        a {
            font-weight: bold;
        }
        
        a:hover{
            text-decoration: underline;
        }
    }

    .user_name {
        margin-bottom: 20px;
    }

    button {
        padding: 12px 14px;
        width: 100%;
        margin: 200px auto 0;
        font-size: 18px;

        @include screen() {
            margin-top: 20px;
        }
    }

    .result_message {
        display: none;
    }

    .error_message {
        display: flex;
        color: red;
        margin: 10px auto;
        font-size: 12px;
    }
}