.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--header-background);
    z-index: 2;
    box-shadow: 0 0 30px 1px rgba(0,0,0, .3);
  }
  
  .header_content {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 80px; 
    position: relative;
  }

  .header_go_home {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    display: flex;
    align-items: center;
  }

  .header_go_home img {
    width: 20px;
    height: auto;
    margin-right: 12px;
  }

  .header_go_home span {
    margin-top: 1px;
  }
  
  .header_title {
    font-size: 24px;
    margin: 0;
  }

  .header_theme_toggler {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    background-color: transparent;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }

  .header_theme_toggler:active img {
    transform: scale(0);
  }

  .header_theme_toggler img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
