.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0, .8);
    color: #fff;
    z-index: 2;
  }
  
  .header_content {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 60px; 
    position: relative;
  }

  .header_go_home {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    color: white;
    display: flex;
    align-items: center;

  }
  .header_go_home img {
    width: 20px;
    height: auto;
    margin-right: 12px;
  }

  .header_go_home span {
    margin-top: 1px;
  }
  
  .header_title {
    font-size: 24px;
    margin: 0;
  }