@import "../../styles/helpers.scss";

footer {
    z-index: 2;
    bottom: 0;
    width: 100%; 
    background-color: var(--footer-background);
    position: relative;

    .footer_top_content{
      padding: 36px 0;

      .footer_links{
        a{
          font-size: 14px;
          color: var(--footer-content-color);
        }
        
        a:hover{
          text-decoration: underline;
          transition: .3s;
        }
        
        a:hover{
          color: var(--footer-content-hover-color);
        }
      }

      .footer_links:not(:last-child){
        margin-bottom: 8px;
      }
    }

    .footer_bottom_content {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        padding: 36px 0;
        border-top: 1px solid var(--line-color);

        @include screen() {
          flex-direction: column;
          justify-content: space-between;
          gap: 25px;
        }

        p{
          font-size: 22px;
          color: var(--footer-content-color);

          @include screen() {
            font-size: 16px;
          }
        }
        
        .footer_main_logo {
          color: var(--footer-content-color);
          
          svg{
            height: 30px;
          }

          @include screen() {
            display: none;
          }
        }
        
        .footer_socials {
          display: flex;
          align-items: center;
          gap: 16px;
          
          &_item {
            display: flex;
            
            svg{
              color: var(--footer-content-color);
              width: 24px;
              height: 24px;  
              
              @include screen() {
                width: 18px;
                height: 18px;
              }
            }

            svg:hover{
              color: var(--footer-content-hover-color)
            }
          }
        }

        .footer_copyright{
          p{
            font-size: 18px;
          }
        }
    }
}

