@import "../../styles/helpers.scss";

.create_post{
    display: flex;
    flex-direction: column;

    .drop_file{
        height: 400px; 
        margin-bottom: 20px;
        border-radius: 8px;
    }

    .input_field{
        width: 100%;
        margin-bottom: 20px;
        resize: none;
    }

    .create_post_title{
        font-size: 48px;
        font-weight: bold;

        @include screen(){
            font-size: 24px;
        }
    }

    &_main_text{
        height: 300px;
        font-size: 24px;

        @include screen() {
            font-size: 14px;
            height: 150px;
        }
    }

    textarea:focus-visible{
        outline: none;
    }

    .create_post_submit{
        padding: 12px 14px;
        width: 200px;
        font-size: 14px;

        @include screen() {
            width: 100%;
        }

        &_content {
            p{
                margin: auto 10px;
                font-size: 16px;
            }
        }
    }

}