@import "../../styles/common.scss";

.banner {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    // height: max(300px, auto);
    position: relative;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: block;
        background: linear-gradient(to top, var(--banner-haze), rgba(0,0,0,0) 50%);
    
        @include use-transition();
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        user-select: none;
    }

    &_content {
        position: absolute;
        left: 16px;
        bottom: 16px;
        z-index: 1;
        
        a{
            text-decoration: underline;
        }

        h1{
            font-size: 36px;
            margin-bottom: 10px;
        }

        p {
            max-width: 45%;
        }
    }
}